@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #000;
}

#terminal {
  height: 640px;
  width: 700px;
  min-width: 700px;
}

#terminal .xterm-bold {
  font-weight: normal !important;
}

.xterm-dom-renderer-owner-1 .xterm-rows {
  background-color: #000;
}

::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

::-webkit-scrollbar-thumb {
  background-color: #424242;
  border-radius: 7px;
  border: 3px solid #1f1e1e;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4f4f4f;
}

::-webkit-scrollbar-track {
  background-color: #1f1e1e;
}
