@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #000;
}

#terminal {
  height: 640px;
  width: 800px;
}

#terminal .xterm-bold {
  font-weight: normal !important;
}

#debugger {
  background: #1a1a1a;
  color: #00ff00;
}

pre {
  font-family: "perfect_dos_vga_437regular";
  white-space: pre-wrap;
  overflow-y: scroll;
  height: 400px;
}
